#articles {
    width: 80% !important;
}
.presentation {
    margin-top: 2em;
    margin-left: 10em;
}
.form-group {
    width: 80%;
}
.table {
    width: 60% !important;
    border: solid 1px black;
    padding-top: 1em;
}
.modifier_article_css{
    display: flex;
}
.panier{
    padding-right: 5px;
}
.forme_panier{
    display: flex;
}
.partie_panier{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.form-login{
    width: 50%;
    align-self: center;
    justify-self: center;
    border: 1px solid gray;
}