#articles {
    width: 80% !important;
}
.presentation {
    margin-top: 2em;
    margin-left: 10em;
}
.form-group {
    width: 80%;
}
.table {
    width: 60% !important;
    border: solid 1px black;
    padding-top: 1em;
}
.modifier_article_css{
    display: flex;
}
.panier{
    padding-right: 5px;
}